footer {
    height: 100%;
    padding: 1rem;
    overflow-x: hidden;
    position: relative;
}

.footer-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: .25rem;
    background: #ffffff10;
    border: .5px solid rgba(255, 255, 255, 0.1);
}

.footer-brand > img {
    width: auto;
    height: 4rem;
    margin: 1rem 0;
}

.footer-links {
    gap: 4rem;
    padding: 0;
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: space-between;
}

.column-block {
    display: flex;
}

.column-block.links {
    gap: .5rem;
    justify-content: space-between;
}

.column-block.contacts {
    gap: 2rem;
    flex-direction: column;
}

.footer-column {
    margin: 0;
    padding: 0;
    width: 50%;
    list-style: none;
}

.footer-column > h5 {
    white-space: nowrap;
    color: #ffffff60;
    margin-bottom: 1.5rem;
    letter-spacing: .02rem;
}

.footer-column > li,
.footer-column > li > a {
    font-size: .9rem;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    letter-spacing: .02rem;
}

.footer-column > li {
    display: flex;
    padding: .25rem 0;
}

.footer-column > li > a{
    /* width: 100%; */
}

.footer-divider {
    height: .5px;
    margin: 2rem .5rem;
    color: #ffffff90;
}

.copyrights {
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.copyrights > p {
    margin: 0;
    font-weight: 300;
    font-size: .8rem;
    color: #ffffff60;
    text-align: center;
    letter-spacing: .02rem;
}

.copyrights > .developer-credit > span > a {
    color: #FF6A00;
    cursor: pointer;
    margin-left: .4rem;
    text-decoration: none;
}

.copyrights > .social-links {
    gap: 1rem;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.copyrights > .social-links li a {
    text-decoration: none;
}

.copyrights > .social-links li a ion-icon {
    font-size: 1.8rem;
    color: #ffffff50;
    transition: color .3s ease;
}

.copyrights > .social-links li a ion-icon:hover {
    color: #ffffff;
}