:root {
    --dark-green: #14201B;
    --light-green: #1A382B;
    --orange: #FF6A00;
}

/* Lenis Styles */

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PPMori', 'Instrument Serif';
}

body {
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background: linear-gradient(to bottom, var(--dark-green) 60%, var(--light-green));
}

.glow {
    top: 0;
    left: 50%;
    z-index: -1;
    width: 50vw;
    height: 50vw;
    opacity: 100%;
    border-radius: 50%;
    position: absolute;
    filter: blur(5rem);
    /* pointer-events: none; */
    transform: translate(-50%, -80%);
    background-color: var(--orange);
}


.site-header {
    color: #ffffff;
    font-weight: normal;
    font-family: 'Instrument Serif';
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.site-header span {
    color: var(--orange);
    font-family: inherit;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.site-p {
    opacity: .75;
    color: #fff;
}

.site-btn {
    display: flex;
    min-width: 8rem;
    padding: .75rem 0;
    align-items: center;
    border-radius: .25rem;
    text-decoration: none;
    justify-content: center;
    background-color: var(--orange);
}

header {
    height: 100vh;
    position: relative;
}

#header .container {
    height: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    flex: .3;
    height: 100%;
}

nav ul {
    display: none;
}

.nav-actions {
    flex: .3;
    display: flex;
    justify-content: flex-end;
}

.nav-actions .action-btn {
    display: none;
}

.nav-actions ion-icon {
    color: #fff;
    font-size: 2rem;
}

.nav-brand img {
    height: 100%;
}

.header-text {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-text h1 {
    font-size: 8vw;
    text-align: center;
}

.header-text h1 span {
    line-height: 90%;
    font-size: 16vw;
}

.header-text p {
    width: 75%;
    margin: 2rem 0;
    font-size: .8rem;
    text-align: center;
}

.header-actions .apply {
    color: #ffffff;
}

.header-images {
    height: 30%;
    pointer-events: none;
}

.header-images .img-container {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.header-img {
    z-index: 3;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
}

.header-images .logo img {
    top: 40%;
    left: 50%;
    z-index: 5;
    width: auto;
    height: 10rem;
    position: absolute;
    transform: translate(-50%, -50%);
}

.header-img.inner.second {
    left: 0;
}

.header-img.inner.third {
    right: 0;
}

.header-img.outer {
    display: none;
}

#cta, 
#value, 
#services, 
#faculty, 
#contact, 
#footer {
    display: none;
}