:root {
    --dark-green: #14201B;
    --light-green: #1A382B;
    --orange: #FF6A00;
    --orange-grd: linear-gradient(to bottom, var(--orange), #ff9244);
    --white-grd: linear-gradient(to bottom, #ffffff 50%, #d1d1d1);
}

@media screen and (min-width: 720px) {
    .glow {
        top: 0;
        filter: blur(8rem);
        transform: translate(-50%, -90%);
    }

    .header-container {
        padding: 2rem;
    }

    nav {
        height: 5rem;
    }

    .header-text h1 {
        font-size: 6vw;
    }
    
    .header-text h1 span {
        font-size: 14vw;
    }

    .header-text p {
        width: 50%;
        margin: 3rem 0;
    }
    
    .header-images .logo img {
        top: 40%;
        left: 50%;
        height: 14rem;
    }
    
    .header-img.inner {
        z-index: 4;
        width: 12rem;
        display: flex;
        height: 12rem;
    }
    
    .header-img.inner.second {
        left: 15%;
        /* transform: translateX(-50%); */
    }
    
    .header-img.inner.third {
        right: 15%;
        /* transform: translateX(-50%); */
    }

    .cta-text {
        width: 60%;
        margin: 0 auto;
    }

    .cta-images {
        width: 80%;
        height: 70vh;
        margin: 0 auto;
    }

    .cta-container h2 {
        width: 60%;
    }
    
    .value-header h2 {
        font-size: 2.5rem;
    }

    .value-header p {
        width: 75%;
    }

    .value-row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .value-card {
        flex: 0 0 calc(50% - 2rem);
    }

    .services-container {
        padding: 2rem;
    }

    .services-header h2 {
        font-size: 3rem;
    }

    .services-header p {
        width: 60%;
        margin: 2rem 0;
        font-size: .9rem;
    }

    .service-card {
        min-width: 45%;
    }

    .service-card h3 {
        font-size: 1.5rem;
    }

    .footer-container {
        padding: 0 2rem;
    }

    .footer-column > h5 {
        font-size: .9rem;
    }

    .footer-column > li,
    .footer-column > li > a {
        font-size: .75rem;
    }

    .footer-links {
        flex-direction: row;
    }

    .column-block.contacts {
        gap: 2rem;
        flex-direction: row;
    }

    .copyrights {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    
    .site-btn {
        font-size: .9rem;
        padding: .5rem 2rem;
        transition: .3s ease opacity;
    }

    .site-btn:hover {
        opacity: .8;
    }

    .site-btn:active {
        opacity: .6;
    }

    .header-text {
        justify-content: flex-start;
    }

    .header-text h1 {
        font-size: 4vw;
    }
    
    .header-text h1 span {
        font-size: 7vw;
    }

    .header-text p {
        margin: 2rem 0;
    }

    .header-img.outer {
        width: 10rem;
        height: 10rem;
    }

    .cta-container {
        margin: 6rem 0;
    }
    
    .cta-container h2 {
        width: 50%;
        font-size: 3vw;
    }

    .value-row {
        gap: 1rem;
        flex-wrap: nowrap;
    }

    .value-card {
        padding: 2rem 1rem;
    }

    .value-card h5 {
        font-size: 1.5rem;
    }

    .value-card {
        flex: 1;
    }

    .service-row {
        overflow-x: initial;
    }

    .service-card {
        flex: 1;
        min-width: auto;
    }

    .service-card h3 {
        font-size: 1.5rem;
    }

    .footer-divider {
        margin: 0;
    }

    .copyrights {
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright,
    .developer-credit,
    .social-links {
        flex: 1;
    }
    
    .developer-credit,
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copyright {
        justify-content: flex-start;
    }
    
    .copyrights > .social-links {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1240px) {

    header {
        height: 130vh;
    }
    
    header,
    section {
        margin-bottom: 10rem;
    }

    .header-container {
        justify-content: space-between;
    }

    .nav-brand,
    .nav-actions {
        flex: .2;
    }

    .nav-list {
        flex: .6;
        gap: 2rem;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: center;
    }
    
    .nav-list > li {
        display: grid;
        position: relative;
        place-content: center;
        transition: transform .3s ease;
    }
    
    .nav-list li::after {
        left: 0;
        bottom: 0;
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        background-color: #FF6A00;
        transition: transform .3s ease;
        border-radius: .5rem 0 .5rem 0;
    }
    
    .nav-list li:hover {
        transform: translateY(-.1rem);
    }

    .nav-list li:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
    
    .nav-list li a {
        color: #ffffff;
        font-size: 1rem;
        text-wrap: nowrap;
        text-decoration: none;
        font-family: 'Instrument Serif';
        text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .nav-list li:hover .sub-nav {
        opacity: 1;
        visibility: visible;
    }

    .sub-nav {
        left: 0;
        top: 2.5rem;
        opacity: 0;
        padding: .5rem;
        visibility: hidden;
        position: absolute;
        border-radius: .5rem;
        flex-direction: column;
        background-color: var(--light-green);
        transition: opacity .3s ease,
                    visibility .3s ease;
    }

    .sub-nav li {
        margin: 0;
    }

    .sub-nav li:hover {
        transform: none;
    }

    .sub-nav li::after {
        display: none;
    }

    .sub-nav li a {
        width: 100%;
        display: flex;
        padding: .5rem 1rem;
        text-wrap: nowrap;
        position: relative;
        border-radius: .25rem;
        justify-content: left !important;
        transition: background-color .3s ease;
    }

    .sub-nav li a::after {
        left: 0;
        top: 50%;
        width: 3px;
        content: '';
        height: 40%;
        position: absolute;
        transform: translateY(-50%);
        background-color: #FF6A00;
        border-radius: .5rem 0 .5rem 0;
    }

    .sub-nav li a:hover {
        background-color: var(--dark-green);
    }

    .header-actions .site-btn {
        width: 9rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-actions .apply {
        display: grid;
        color: #ffffff;
        background: linear-gradient(to bottom, var(--orange), #ff9244);
    }

    .header-text {
        height: 50%;
        margin: 3rem 0;
        justify-content: flex-start;
    }

    .header-text h1 {
        font-size: 3vw;
    }
    
    .header-text h1 span {
        font-size: 6vw;
        line-height: 75%;
    }

    .header-text p {
        width: 30%;
    }

    .header-images {
        align-items: flex-end;
    }
    
    .header-img.inner {
        width: 20rem;
        height: 20rem;
    }
    
    .header-img.outer {
        width: 16rem;
        height: 16rem;
    }

    .header-images .logo img {
        height: 21rem;
    }

    #cta-extension {
        padding: 2rem;
        flex-direction: row;
    }

    .cta-text {
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
    }

    .cta-text p {
        font-size: 1.2rem;
    }

    .cta-text .site-btn {
        width: 16rem;
        display: flex;
        padding: 1rem 0;
        color: #ffffff;
        margin: 2rem 0;
        background: var(--orange-grd);
    }

    .value-header h2 {
        font-size: 2rem;
    }

    .value-header p {
        width: 40%;
    }
    
    .value-card {
        padding: 2rem;
        align-items: flex-start;
    }
    
    .value-card h5 {
        font-size: 1.6rem;
    }
    
    .value-card h5::after {
        left: 0;
        transform: none;
    }
    
    .value-card p {
        text-align: left;
    }

    .services-container {
        /* display: flex; */
        padding: 2rem;
    }

    .services-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services-header p {
        width: 80%;
        margin: 1rem 0;
    }

    .service-card h3 {
        font-size: 1.3rem;
    }

    .service-card .actions .site-btn {
        padding: .5rem 0;
    }

    .footer-container {
        padding: 0 2rem;
    }
    
    .footer-brand > img {
        height: 6rem;
        margin: 2rem 0;
    }

    .footer-links {
        margin-bottom: 2rem;
    }
    
    .footer-column > li > a::after {
        left: 0;
        bottom: -.25rem;
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        background-color: #FF6A00;
        transition: transform .3s ease;
        border-radius: .5rem 0 .5rem 0;
    }

    .footer-column > li > a:hover {
        transform: translateY(-.1rem);
    }

    .footer-column > li > a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    #contact form {
        width: 50%;
    }
}

@media screen and (min-width: 1650px) {
    
    .nav-list li a {
        font-size: 1.2rem;
    }

    header {
        height: 120vh;
    }

    .header-text {
        height: 40%;
        justify-content: center;
    }

    .header-text h1 {
        font-size: 2.5vw;
    }

    .header-text h1 span {
        font-size: 5vw;
    }

    .header-text p {
        width: 25%;
        font-size: .9rem;
    }

    .header-images {
        height: 40%;
    }

    .header-images .logo img {
        height: 26rem;
    }

    .header-img.inner {
        width: 22rem;
        height: 22rem;
    }

    .header-img.outer.first {
        left: 5rem;
    }

    .header-img.outer.fourth {
        right: 5rem;
    }

    .header-img.outer {
        width: 16rem;
        height: 16rem;
    }

    .value-header {
        margin-bottom: 5rem;
    }

    .value-header img {
        height: 6rem;
    }

    .value-header h2 {
        font-size: 3rem;
    }

    .value-header p {
        font-size: 1rem;
    }

    .value-card h5 {
        font-size: 2rem;
    }

    .value-card p {
        font-size: 1rem;
    }

    .services-logo {
        height: 100%;
    }

    .services-header p {
        width: 30%;
    }

    .service-card {
        flex: .25;
        max-height: 30rem;
    }

    .service-card h3 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .service-card p {
        font-size: 1rem;
    }
}