:root {
    --dark-green: #14201B;
    --light-green: #1A382B;
    --orange: #FF6A00;
    --orange-grd: linear-gradient(to bottom, var(--orange), #ff9244);
    --white-grd: linear-gradient(to bottom, #ffffff 50%, #d1d1d1);
}

/* Lenis Styles */

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PPMori', 'Instrument Serif';
}

body {
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background: linear-gradient(to bottom, var(--dark-green) 60%, var(--light-green));
}

.site-header {
    font-weight: normal;
    font-family: 'Instrument Serif';
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;

    background: -webkit-linear-gradient(#ffffff 50%, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-header span {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #FF6A00;
    
    font-family: inherit;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.site-p {
    opacity: .75;
    color: #fff;
    font-size: .75rem;
}

.site-btn {
    display: flex;
    min-width: 7rem;
    cursor: pointer;
    font-size: .8rem;
    padding: .5rem 0;
    align-items: center;
    border-radius: .25rem;
    text-decoration: none;
    justify-content: center;
}

#offcanvas-logo {
    height: 100%;
}

.offcanvas-header .btn-close {
    color: #fff;
}

nav {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    z-index: 99;
    /* background: linear-gradient(to bottom, var(--dark-green) 80%, var(--dark-green)); */
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.header-container {
    flex: 1;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
}

header .site-header {
    margin: 2rem 0;
    text-align: center;
}

header .site-p {
    text-align: center;
}

header .site-btn.apply {
    margin: 2rem auto;
    padding: .5rem;
    color: #ffffff;
    width: fit-content;
    background: linear-gradient(to bottom, var(--orange), #ff9244);
}

.header-images {
    width: 100%;
    height: 40vh;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1rem; 
    grid-template-areas: 
        "first third"
        "second third";
}

.grid-img {
    overflow: hidden;
    border-radius: .5rem;
}

.grid-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cta {
    padding: 1rem;
}

#cta-extension {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#cta-extension .site-header {
    margin: 2rem;
    text-align: center;
}

#cta-extension .site-btn {
    width: 100%;
    color: #ffffff;
    margin: 1rem 0;
    border-radius: .5rem;
    background: var(--orange-grd);
}

#startup {
    padding: 1rem;
    margin-top: 5rem;
}

#startup .site-header {
    padding-left: 1rem;
    margin-bottom: 2rem;
    border-left: .5rem solid #ff9244;
}

.startup-text .site-p span{
    font-size: 1rem;
}

#startup video {
    width: 100%;
    margin: 2rem 0;
    border-radius: .5rem;
}

#startup .site-btn {
    color: #fff;
    margin: 1rem 0;
    background: var(--orange-grd);
}

#key-offerings {
    height: 100%;
    padding: 1rem;
    margin: 5rem 0;
}

.offerings-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offerings-header img {
    height: 2rem;
}

#key-offerings .site-header {
    width: fit-content;
    margin: 1rem 0 2rem 0;
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }

#key-points {
    background: linear-gradient(to bottom, #ffffff10, #ffffff00);
}

#key-points .accordion-item {
    background-color: #00000000;
}

#key-points .accordion-item {
    border: 1px solid #ffffff10;
}

#key-points .accordion-button {
    outline: none;
    color: #ffffff60;
    background-color: #ffffff10;
}

#key-points .accordion-body {
    color: #ffffff60;
}