:root {
    --dark-green: #14201B;
    --light-green: #1A382B;
    --orange: #FF6A00;
    --orange-grd: linear-gradient(to bottom, var(--orange), #ff9244);
    --white-grd: linear-gradient(to bottom, #ffffff 50%, #d1d1d1);
}

@media screen and (min-width: 720px) {

    .header-container {
        padding: 2rem;
    }

    .header-text {
        height: 40%
    }

    .header-images {
        height: 60%
    }

    header .site-header {
        font-size: 3rem
    }

    header .site-p {
        width: 50%;
        font-size: 1rem;
        margin: 0 auto;
    }

    header .site-btn.apply {
        padding: 1rem;
    }

    nav {
        height: 5rem;
    }

    #key-offerings {
        width: 60%;
        margin: 5rem auto;
    }

    .footer-container {
        padding: 0 2rem;
    }

    .footer-column > h5 {
        font-size: .9rem;
    }

    .footer-column > li,
    .footer-column > li > a {
        font-size: .75rem;
    }

    .footer-links {
        flex-direction: row;
    }

    .column-block.contacts {
        gap: 2rem;
        flex-direction: row;
    }

    .copyrights {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    
    .site-btn {
        font-size: .9rem;
        padding: .5rem 2rem;
        transition: .3s ease opacity;
    }

    .site-btn:hover {
        opacity: .8;
    }

    .site-btn:active {
        opacity: .6;
    }

    header {
        height: 100%;
    }

    .header-container {
        padding: 0 2rem 2rem 2rem;
        align-items: center;
    }

    nav {
        height: 6rem;
    }

    .header-text {
        text-align: center;
        height: fit-content;
    }

    .header-text .site-p {
        width: 60%;
        margin: 2rem auto;
    }

    .header-text .site-btn.apply {
        margin: 1rem auto;
    }

    .header-images {
        width: 100%;
        height: 40vh;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 1rem; 
        grid-template-areas: 
            "first second third"
    }

    .footer-divider {
        margin: 0;
    }

    .copyrights {
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright,
    .developer-credit,
    .social-links {
        flex: 1;
    }
    
    .developer-credit,
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copyright {
        justify-content: flex-start;
    }
    
    .copyrights > .social-links {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1240px) {

    .nav-brand,
    .nav-actions {
        flex: .2;
    }

    .nav-list {
        flex: .6;
        gap: 2rem;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: center;
    }
    
    .nav-list > li {
        display: grid;
        position: relative;
        place-content: center;
        transition: transform .3s ease;
    }
    
    .nav-list li::after {
        left: 0;
        bottom: 0;
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        background-color: #FF6A00;
        transition: transform .3s ease;
        border-radius: .5rem 0 .5rem 0;
    }
    
    .nav-list li:hover {
        transform: translateY(-.1rem);
    }

    .nav-list li:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
    
    .nav-list li a {
        color: #ffffff;
        font-size: 1rem;
        text-wrap: nowrap;
        text-decoration: none;
        font-family: 'Instrument Serif';
        text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .nav-list li:hover .sub-nav {
        opacity: 1;
        visibility: visible;
    }

    .sub-nav {
        left: 0;
        top: 2.5rem;
        opacity: 0;
        padding: .5rem;
        visibility: hidden;
        position: absolute;
        border-radius: .5rem;
        flex-direction: column;
        background-color: var(--light-green);
        transition: opacity .3s ease,
                    visibility .3s ease;
    }

    .sub-nav li {
        margin: 0;
    }

    .sub-nav li:hover {
        transform: none;
    }

    .sub-nav li::after {
        display: none;
    }

    .sub-nav li a {
        width: 100%;
        display: flex;
        padding: .5rem 1rem;
        text-wrap: nowrap;
        position: relative;
        border-radius: .25rem;
        justify-content: left !important;
        transition: background-color .3s ease;
    }

    .sub-nav li a::after {
        left: 0;
        top: 50%;
        width: 3px;
        content: '';
        height: 40%;
        position: absolute;
        transform: translateY(-50%);
        background-color: #FF6A00;
        border-radius: .5rem 0 .5rem 0;
    }

    .sub-nav li a:hover {
        background-color: var(--dark-green);
    }

    header .site-btn.apply {
        margin: 0;
        padding: .5rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-actions .apply {
        display: grid;
    }

    header {
        padding: 1rem;
    }

    .header-container h1 {
        font-size: 4vw;
    }
    
    .header-container h1 span {
        line-height: 75%;
    }

    .header-container p {
        width: 30%;
        font-size: .8rem
    }

    .footer-container {
        padding: 0 2rem;
    }
    
    .footer-brand > img {
        height: 6rem;
        margin: 2rem 0;
    }

    .footer-links {
        margin-bottom: 2rem;
    }
    
    .footer-column > li > a::after {
        left: 0;
        bottom: -.25rem;
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        background-color: #FF6A00;
        transition: transform .3s ease;
        border-radius: .5rem 0 .5rem 0;
    }

    .footer-column > li > a:hover {
        transform: translateY(-.1rem);
    }

    .footer-column > li > a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    #contact form {
        width: 50%;
    }
}

@media screen and (min-width: 1650px) {
    
    .nav-list li a {
        font-size: 1.2rem;
    }

    header {
        height: 80vh;
    }

}