:root {
    --dark-green: #14201B;
    --light-green: #1A382B;
    --orange: #FF6A00;
    --orange-grd: linear-gradient(to bottom, var(--orange), #ff9244);
    --white-grd: linear-gradient(to bottom, #ffffff 50%, #d1d1d1);
}

/* Lenis Styles */

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PPMori', 'Instrument Serif';
}

body {
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background: linear-gradient(to bottom, var(--dark-green) 60%, var(--light-green));
}

.site-header {
    font-weight: normal;
    font-family: 'Instrument Serif';
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;

    background: -webkit-linear-gradient(#ffffff 50%, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-header span {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #FF6A00;
    
    font-family: inherit;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.site-p {
    opacity: .75;
    color: #fff;
    font-size: .75rem;
}

.site-btn {
    display: flex;
    min-width: 7rem;
    cursor: pointer;
    font-size: .8rem;
    padding: .5rem 0;
    align-items: center;
    border-radius: .25rem;
    text-decoration: none;
    justify-content: center;
}

#offcanvas-logo {
    height: 100%;
}

.offcanvas-header .btn-close {
    color: #fff;
}

nav {
    top: 0;
    width: 100%;
    padding: 1rem;
    height: 5rem !important;
    position: absolute;
    /* background: linear-gradient(to bottom, var(--dark-green) 80%, var(--dark-green)); */
}

header {
    height: 55vh;
    background: url(../images/vid/start-up-header.gif) center no-repeat;
    background-size: cover;
}

.header-container {
    height: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #00000060 80%, var(--dark-green));
}

header h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Instrument Serif';
}

.header-container h1 span {
    font-family: inherit;
    color: var(--orange);
}

header .site-btn.apply {
    color: #fff;
    background: var(--orange-grd);
}