{% load static %}

<footer id="footer">
    <div class="footer-container">
        <a href="/" class="footer-brand">
            <img src="{% static 'knowescape/brand/logo_transparent_glow.png' %}">
        </a>
        <div class="footer-links">
            <div class="column-block links">
                <ul class="footer-column">
                    <h5>Get Around</h5>

                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="#cta">About Us</a>
                    </li>
                    <li>
                        <a href="#services">Our Services</a>
                    </li>
                    <!-- <li>
                        <a href="#services">Our Faculty</a>
                    </li> -->
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <ul class="footer-column">
                    <h5>Our Services</h5>
                    <li>
                        <a href="{% url 'startup_support' %}">Start-Up Support</a>
                    </li>
                    <li>
                        <a href="{% url 'skills_development' %}">Skills Development</a>
                    </li>
                    <li>
                        <a href="{% url 'esd' %}">Enterprise & Supplier Development</a>
                    </li>
                </ul>
            </div>
            <div class="column-block contacts">
                <ul class="footer-column">
                    <h5>Contact</h5>

                    <li>
                        +27 82 703 4852
                    </li>
                    <li>
                        info@knowescape.co.za
                    </li>
                </ul>
                <ul class="footer-column">
                    <h5>Physical Address</h5>
                    <li>
                        Skybound Office Park
                    </li>
                    <li>
                        314 Consult Street
                    </li>
                    <li>
                        Rosebank, 2196
                    </li>
                    <li>
                        Johannesburg, Gauteng
                    </li>
                </ul>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="copyrights">
            <p class="copyright">© KnowEscape Consulting <span class="footer-date"></span>. All Rights Reserved</p>
            <p class="developer-credit">
                Designed and Developed by  
                <span>
                    <a href="https://rhulanikgosimogotsi.vercel.app">Rhulani Kgosi Mogotsi</a>
                </span>
            </p>
            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61565728498754">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://x.com/knowescapecons">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
                <!-- <li>
                    <a href="">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li> -->
                <li>
                    <a href="https://www.instagram.com/knowescapecons">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const footerDate = document.querySelector('.footer-date');
        
        if (footerDate) {
            const currentYear = new Date().getFullYear();
            footerDate.innerHTML = currentYear;
        }
    });
</script>