{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta name="Knowescape Consulting"/>
    <meta name="theme-color" content="#14201B">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="author" content="Knowescape">
    <meta name="robots" content="index, follow">
    <meta name="language" content="english">
    <meta name="description" content="Empowerment through Skills Development, Enterprise and Supplier Development, and Start-Up Support">

    <meta property="og:title" content="Skills and Business Development">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://knowescape.com">
    <meta property="og:image" content="{% static 'knowescape/images/website-box-bg.jpg' %}">
    <meta property="og:description" content="empowering individuals and organizations through comprehensive consultancy and training services.">
    <meta property="og:locale" content="en_ZA">
    <meta property="og:site_name" content="Knowescape">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">

    <!-- CDNs -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- imports -->
    <link rel="icon" type="image/x-icon" href="{% static 'knowescape/brand/favicon.png' %}">

    
    <link rel="stylesheet" href="{% static 'knowescape/css/services.css' %}">
    <link rel="stylesheet" href="{% static 'knowescape/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'knowescape/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'knowescape/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'knowescape/css/services-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'knowescape/css/animations.css' %}">


    <title>{{page_title}} - KnowEscape</title>
</head>
<body>
    <div class="overlay"></div>
    <header id="header">
        {% include 'knowescape/nav.html' %}
        <div class="header-container">
            <div class="header-text">
                <h1 class="site-header"> 
                    Start-Up <span>Support</span>
                </h1>
                <p class="site-p">      
                    Turn your idea into a thriving business, And we'll guide you every step of the way.
                </p>
                <a href="#services" class="site-btn apply">Develop my Business</a>
            </div>
            <div class="header-images">
                <div class="grid-img first">
                    <img src="{% static '/knowescape/images/cta/cta-1.webp' %}" alt="" loading="lazy">
                </div>
                <div class="grid-img second">
                    <img src="{% static '/knowescape/images/cta/cta-2.webp' %}" alt="" loading="lazy">
                </div>
                <div class="grid-img third">
                    <img src="{% static '/knowescape/images/cta/cta-3.webp' %}" alt="" loading="lazy">
                </div>
            </div>
        </div>
    </header>
    
    {% include 'knowescape/footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const video = document.querySelector('.video-bg');
            if (video) {
                video.muted = true; // ensure muted
                video.playsInline = true;
                video.setAttribute('webkit-playsinline', 'true');
                video.play().catch(err => {
                console.log("Autoplay blocked:", err);
                });
            }
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>